@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
html {
  font-size: 10px;
}

/* Typography */
/* Main */
html {
  scroll-behavior: smooth;
}

body {
  color: #2C2C2C;
  background-color: #EEEEEE;
  margin: 0;
  font-size: 2rem;
  letter-spacing: -0.017;
  line-height: 1.2;
  font-family: 'Inter',sans-serif;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: 300;
  font-size: 6rem;
}

h2 {
  font-weight: 400;
}

a, a:visited {
  color: #2C2C2C;
  text-decoration: none;
}

.running-text a {
  color: #7B7B7B;
}

strong {
  font-weight: 600;
}

/* SVG */
svg {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

svg .st0 {
  fill: #1FA9D7;
}

svg .st1 {
  fill: #EA4649;
}

svg .st2 {
  fill: #0FBA78;
}

/* Section layout */
section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section aside {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2rem;
  margin: 0 2rem;
  max-width: 50%;
  width: 44%;
}

section main {
  padding-top: 2rem;
  width: 45%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 50%;
  margin: 0 2rem;
  margin-right: 4rem;
}

section main h1 {
  margin-bottom: 8rem;
}

.image-container {
  max-width: 100%;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
}

div.running-text {
  margin-top: 2rem;
}

div.running-text p {
  margin-bottom: 2rem;
  margin-top: 0;
}

/* Main nav */
nav.main-nav {
  max-width: 45%;
  line-height: 1.5;
  font-size: 3.2rem;
  font-weight: 500;
  z-index: 99;
  position: fixed;
  left: 2rem;
  top: 2rem;
}

nav.main-nav a.active {
  color: #EA4649;
}

nav.main-nav a:active {
  background-color: #D3D0CC;
  color: #2C2C2C;
}

nav.main-nav ul {
  display: inline;
  padding: 0;
}

nav.main-nav ul li {
  display: inline;
}

nav.main-nav ul li a {
  white-space: nowrap;
  background-color: #FFFFFF;
  padding: 0 1rem;
  border-radius: 2rem;
  text-decoration: none;
}

/* General media queries */
@media screen and (max-width: 1000px) {
  section {
    display: initial;
  }
  section aside, section main {
    width: 100%;
    max-width: 100%;
  }
  section main h1 {
    margin-bottom: 0;
  }
  section aside {
    padding-top: 10rem;
  }
  section aside svg {
    width: 75%;
    margin: 0 auto;
  }
  nav.main-nav {
    max-width: 100%;
  }
}

/* Actoren */
.actoren-list .actor {
  border-bottom: 2px solid #D3D0CC;
}

.actoren-list .actor .actor-image img {
  display: none;
  width: 20px;
  height: 20px;
  background-color: #7B7B7B;
}

.actoren-list .actor .actor-info h2 {
  cursor: pointer;
}

.actoren-list .actor .actor-info h2:after {
  color: #D3D0CC;
  content: " +";
  float: right;
}

.actoren-list .actor .actor-info h2:hover:after {
  color: #2C2C2C;
}

.actoren-list .actor:not(.selected) .actor-image {
  display: none;
}

.actoren-list .actor:not(.selected) .actor-info > div {
  display: none;
}

.actoren-list .actor.selected .actor-info h2:after {
  content: " −";
}

/* Studios */
section#studios .studios-nav h2 {
  font-size: 4.2rem;
}

section#studios .studios-nav .active {
  color: #EA4649;
}

.studios-list .studio-image {
  width: 100%;
  height: 0;
  padding-bottom: 56%;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.studios-list .studio-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Materiaal */
section#materiaal .download-link {
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: .5ch;
  padding: 1.33333rem;
}

section#materiaal .download-link:after {
  content: "";
  color: #D3D0CC;
  margin-left: 1ch;
}

section#materiaal .download-link:hover:after {
  color: inherit;
}

/* Contact */
section#contact main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Colophon */
.colophon {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colophon .running-text {
  width: 60%;
}

.colophon .logos-container .logo {
  display: inline-block;
  height: 5rem;
}

.colophon .logos-container .logo img {
  mix-blend-mode: multiply;
  height: 100%;
  width: auto;
}
/*# sourceMappingURL=main.css.map */