@charset "UTF-8";
/* Typography */
@import url("../fonts/inter/inter.css");
/* Main */
html {
  scroll-behavior: smooth;
}

/* Typographical media queries */
html {
  font-size: 10px;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 7px;
  }
}

body {
  color: #2C2C2C;
  background-color: #EEEEEE;
  margin: 0 3rem;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: -0.017;
  line-height: 1.2;
  font-family: 'Inter',sans-serif;
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: 300;
  font-size: 4.8rem;
  letter-spacing: -0.1rem;
  line-height: 1.07;
  -webkit-font-feature-settings: 'cv01';
          font-feature-settings: 'cv01';
}

h2 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: #7B7B7B;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-decoration: none;
}

a:hover {
  color: #2C2C2C;
}

.running-text a {
  -webkit-text-decoration-color: #D3D0CC;
          text-decoration-color: #D3D0CC;
}

a[rel~="external"]:before {
  content: "⎋";
  margin-right: .5ch;
}

strong {
  font-weight: 500;
}

i, em {
  font-style: italic;
}

.image-container {
  max-width: 100%;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
}

div.running-text {
  margin-top: 2rem;
}

div.running-text p {
  margin-bottom: 2rem;
  margin-top: 0;
}

div.running-text p:last-child {
  margin-bottom: 0;
}

.aside-text {
  color: #7B7B7B;
  font-size: 1.4rem;
}

.aside-text a {
  color: #7B7B7B;
  text-decoration: underline;
  -webkit-text-decoration-color: #D3D0CC;
          text-decoration-color: #D3D0CC;
}

.aside-text a:hover {
  -webkit-text-decoration-color: #7B7B7B;
          text-decoration-color: #7B7B7B;
}

/* SVG */
.svg-container {
  width: 100%;
  padding-bottom: calc(100%/var(--ratio));
  height: 0;
}

.svg-container svg {
  width: 100%;
  height: auto;
}

/* Section layout */
section {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section aside {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2rem;
  width: 40%;
  margin-right: 1rem;
}

section main {
  width: 60%;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-left: 1rem;
}

section main h1 {
  min-height: 24vh;
  margin-bottom: 4rem;
}

section main > div > div {
  margin-bottom: 1.66667rem;
}

section main > div > div:last-child {
  margin-bottom: 0;
}

section:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 1px solid #2C2C2C;
}

/* Main nav */
nav.main-nav {
  width: calc(40% - 2rem);
  font-size: 2.8rem;
  line-height: 1.4;
  font-weight: 400;
  z-index: 99;
  position: fixed;
  left: 3rem;
  top: 0;
  padding-top: 1.66667rem;
  padding-bottom: 3rem;
}

nav.main-nav ul {
  display: inline;
  padding: 0;
}

nav.main-nav ul li {
  list-style-type: none;
}

nav.main-nav ul li a {
  color: #2C2C2C;
}

nav.main-nav ul li a.active {
  color: #EA4649;
  border-bottom: 2px solid #EA4649;
}

@media screen and (max-width: 1050px) {
  nav.main-nav ul li a.active {
    border-width: 1.5px;
  }
}

@media screen and (max-width: 800px) {
  nav.main-nav ul li a.active {
    border-width: 1px;
  }
}

/* General media queries */
/* Medium | 5 to 3 columns */
@media (max-width: 1050px) {
  section aside {
    width: 33.3%;
  }
  section main {
    width: 66.6%;
  }
}

/* Medium Landscape */
@media (orientation: landscape) and (max-height: 1050px) {
  nav.main-nav {
    width: calc(33.3% - 2rem);
  }
}

/* Medium Portrait */
@media (orientation: portrait) and (max-width: 1050px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 66%;
    margin: 0;
    padding-bottom: 3rem;
  }
  section main {
    width: 100%;
    margin: 0;
  }
  section main h1 {
    min-height: inherit;
  }
  nav.main-nav {
    width: calc(33.33vw - 4rem);
  }
}

/* Small */
@media (max-width: 800px) {
  section {
    position: relative;
  }
  section aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section main {
    padding-top: 2rem;
  }
}

/* Small lanscape */
@media (max-width: 800px) and (orientation: landscape) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 66%;
    margin: 0;
    padding-top: 1rem;
  }
  section main {
    width: 100%;
    margin: 0;
    margin-top: 2rem !important;
  }
  section#contact .colophon {
    margin-bottom: 2rem;
  }
}

/* Small portrait */
@media (max-width: 800px) and (orientation: portrait) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 66%;
  }
  section main {
    width: 100%;
    margin: 0;
  }
  section#contact .colophon {
    padding-bottom: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#contact .colophon .running-text {
    width: 100%;
    margin-bottom: 2rem;
  }
  section#contact .colophon .logos-container {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

/* Small screens portrait */
@media (orientation: portrait) and (max-width: 600px) {
  main h1 {
    font-size: 3.6rem;
  }
  nav.main-nav {
    width: 90vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 2rem;
    line-height: 1.5;
    background-color: none;
    background: none;
    font-size: 2.5rem;
  }
  nav.main-nav ul li {
    display: inline;
  }
  nav.main-nav ul li a {
    white-space: nowrap;
    background-color: #FFFFFF;
    padding: 0 1rem;
    border-radius: 2rem;
    text-decoration: none;
  }
  nav.main-nav ul li a.active {
    border-bottom: none;
  }
  nav.main-nav ul li a:active {
    background-color: #D3D0CC;
    color: #2C2C2C;
  }
}

/* Extra Small portrait */
@media (orientation: portrait) and (max-width: 600px) {
  section {
    display: block;
  }
  section aside, section main {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  section main h1 {
    min-height: inherit;
    margin-bottom: 2rem;
  }
  section aside {
    padding-top: 15vh;
  }
  nav.main-nav {
    max-width: 100%;
  }
}

/* Extra extra Small Portrait */
@media (orientation: portrait) and (max-width: 400px) {
  section main h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  nav.main-nav {
    font-size: 2.2rem;
  }
}

/* Extra extra Small Landscape */
@media (orientation: landscape) and (max-height: 400px) {
  section main h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  nav.main-nav {
    font-size: 2.2rem;
  }
}

/* Column layout */
.columns > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-top: 1px solid #2C2C2C;
  padding-top: 1.25rem;
}

.columns > div > *:nth-child(1) {
  width: 33%;
  padding-right: 1rem;
}

.columns > div > *:nth-child(2) {
  width: 66%;
  padding-left: 1rem;
}

.columns > div > *:nth-child(n+3) {
  display: none;
}

/* Section and navigation link colors */
a[href="#over"].active, .running-text a[href="#over"] {
  color: #7B7B7B !important;
  border-color: inherit !important;
}

a[href="#studios"].active, .running-text a[href="#studios"] {
  color: #1FA9D7 !important;
  border-color: inherit !important;
}

a[href="#actoren"].active, .running-text a[href="#actoren"] {
  color: #0FBA78 !important;
  border-color: inherit !important;
}

a[href="#materiaal"].active, .running-text a[href="#materiaal"] {
  color: #EA4649 !important;
  border-color: inherit !important;
}

a[href="#contact"].active, .running-text a[href="#contact"] {
  color: #D3D0CC !important;
  border-color: inherit !important;
}

/* Specific layouts per section */
/* Over */
section#over main .running-text a:hover {
  color: #2C2C2C !important;
}

/* Studios */
section#studios .studios-nav {
  display: none;
}

section#studios .studios-nav h2 {
  font-size: 4.2rem;
}

section#studios .studios-nav .active {
  color: #EA4649;
}

section#studios .studios-list .studio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "header header" "aside main" "aside2 main";
  grid-column-gap: 2rem;
  border-top: 1px solid #2C2C2C;
  padding-top: 2rem;
}

section#studios .studios-list .studio h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
}

section#studios .studios-list .studio .studio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
  background-color: #D3D0CC;
  margin-bottom: 2rem;
}

section#studios .studios-list .studio .studio-image img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  mix-blend-mode: multiply;
}

section#studios .studios-list .studio .studio-image img:hover {
  mix-blend-mode: normal;
  -webkit-filter: none;
          filter: none;
}

section#studios .studios-list .studio .studio-content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  margin-top: 0;
}

section#studios .studios-list .studio .studio-extra {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

/* Actoren */
.actoren-list .actor {
  border-top: 1px solid #2C2C2C;
  margin-bottom: 0;
}

.actoren-list .actor .actor-image-container {
  padding: 1rem 0;
  position: relative;
}

.actoren-list .actor .actor-image-container .actor-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 101%;
  border-radius: 100%;
  overflow: hidden;
  background-color: #D3D0CC;
}

.actoren-list .actor .actor-image-container .actor-image img {
  display: block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  width: 101%;
  height: 101%;
  -o-object-fit: cover;
     object-fit: cover;
}

.actoren-list .actor .actor-image-container .actor-image img:hover {
  mix-blend-mode: normal;
  -webkit-filter: none;
          filter: none;
}

.actoren-list .actor .actor-info h2 {
  padding-top: 0.55556rem;
  padding-bottom: 0.55556rem;
  cursor: pointer;
}

.actoren-list .actor .actor-info h2:after {
  color: #D3D0CC;
  content: " ●";
  float: right;
}

.actoren-list .actor .actor-info h2:hover:after {
  color: #0FBA78;
}

.actoren-list .actor .actor-info .connections a {
  color: #2C2C2C;
  display: block;
}

.actoren-list .actor .actor-info .connections a:before {
  content: "->";
  margin-right: .3ch;
}

.actoren-list .actor .actor-info .connections a:hover {
  color: #7B7B7B !important;
}

.actoren-list .actor:last-child {
  margin-bottom: -0.66667rem;
}

.actoren-list .actor:not(.selected) .actor-image-container {
  display: none;
}

.actoren-list .actor:not(.selected) .actor-info > div {
  display: none;
}

.actoren-list .actor.selected {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
      grid-template-areas: "main aside";
}

.actoren-list .actor.selected .actor-image-container {
  width: 100%;
  padding-bottom: 71%;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: aside;
  -ms-grid-column-align: end;
      justify-self: end;
  position: relative;
}

.actoren-list .actor.selected .actor-image-container .actor-image {
  position: absolute;
  right: 0;
  width: 68%;
  padding-bottom: 68%;
}

.actoren-list .actor.selected .actor-image-container:before {
  content: "";
  position: absolute;
  background-color: #0FBA78;
  display: block;
  width: 68%;
  height: 0;
  padding-bottom: 68%;
  border-radius: 100%;
}

.actoren-list .actor.selected .actor-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-inline-grid;
  display: inline-grid;
  grid-column-gap: 2rem;
  grid-row-gap: 0;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      grid-template-areas: "a b" "c c" "d d";
}

.actoren-list .actor.selected .actor-info h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.actoren-list .actor.selected .actor-info h2:after {
  color: #EEEEEE;
  content: " ";
}

.actoren-list .actor.selected .actor-info h2:hover:after {
  color: #2C2C2C;
}

.actoren-list .actor.selected .actor-info .running-text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
  margin-top: 0.66667rem;
}

.actoren-list .actor.selected .actor-info .actor-extra {
  line-height: 180%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
}

.actoren-list .actor.selected .actor-info .actor-extra a {
  color: #7B7B7B;
}

.actoren-list .actor.selected .actor-info .actor-extra a:hover {
  color: #2C2C2C;
}

.actoren-list .actor.selected .actor-info .connections {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: d;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 0.8rem;
}

/* Materiaal */
section#materiaal .tools-list .tool {
  border-top: 1px solid #2C2C2C;
  padding-top: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
      grid-template-areas: "a b" "c b";
}

section#materiaal .tools-list .tool h2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

section#materiaal .tools-list .tool .tool-info {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
  margin-top: 0;
}

section#materiaal .tools-list .tool .tool-info .running-text {
  margin-top: 0;
}

section#materiaal .tools-list .tool .tool-download {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
  margin-top: 2rem;
}

section#materiaal .tools-list .tool .tool-download .download-link {
  display: inline-block;
  border-radius: .5ch;
  color: #7B7B7B;
}

section#materiaal .tools-list .tool .tool-download .download-link:before {
  content: "↓";
  margin-right: .5ch;
}

/* Contact */
section#contact {
  margin-bottom: 2rem;
  justify-items: flex-end;
}

section#contact main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Colophon */
.colophon {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colophon .running-text {
  width: 66%;
  margin: 0;
}

.colophon .running-text p {
  margin-bottom: 0;
}

.colophon .running-text a {
  color: inherit;
}

.colophon .running-text a:hover {
  color: #7B7B7B;
}

.colophon .logos-container .logo {
  display: inline-block;
  height: 5rem;
}

.colophon .logos-container .logo img {
  mix-blend-mode: multiply;
  height: 100%;
  width: auto;
}
/*# sourceMappingURL=main.css.map */