// Variables
$mrg: 2rem;
$lh: 1.2;

// Colors
$main:#2C2C2C;
$grey:#7B7B7B;
$lightgrey:#D3D0CC;
$bg: #EEEEEE;
$white:#FFFFFF;
$green:#0FBA78;
$red:#EA4649;
$blue:#1FA9D7;

// Breakpoints
// Desktop
$xxxl: 1800px;
$xxl: 1600px;
$xl: 1400px;
$l: 1200px;
$m: 1050px;
$s: 800px;
$xs: 600px;
$xxs: 400px;

/* Typography */
@import url('https://rsms.me/inter/inter.css');
@import url('https://rsms.me/inter/inter-display.css');

/* Main */
html {
    scroll-behavior: smooth;
}

/* Typographical media queries */
html {
    font-size: 10px;
    @media screen and (min-width: $xxxl) {
        font-size: 13px;
    } 
    @media screen and (min-width: $xxl) {
        font-size: 12px;
    } 
    @media screen and (min-width: $xl) {
        font-size: 11px;
    } 
    @media screen and (max-width: $l) {
        font-size: 9px;
    }
    @media screen and (max-width: $m) {
        font-size: 8px;
    }
    @media screen and (max-width: $s) {
        font-size: 7px;
    }
    @media screen and (max-width: $xs) {
        font-size: 6px;
    }
}

body {
    color: $main;
    background-color: $bg;
    margin: 0 $mrg*1.5;
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: -0.017;
    line-height: $lh;
    font-family: 'Inter',sans-serif;
    // font-feature-settings: 'cv11';
}

h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    // font-family: 'InterDisplay',sans-serif;
    font-weight: 300;
    font-size: 4.8rem;
    letter-spacing: -0.1rem;
    line-height: 1.07;
    font-feature-settings: 'cv01';
}

h2 {
    // font-family: 'InterDisplay';
    font-size: inherit;
    font-weight: inherit;
}

a, a:visited {
    color: $main;
    text-decoration: none;
}

.running-text a {
    color: $main;
    background-color: $white;
    border-radius: .7rem;
    padding: 0 .3rem;
    white-space: nowrap;
    // background-color: $white;
}

strong {
    font-weight: 500;
}

i, em {
    font-style: italic;
}

.image-container {
    max-width: 100%;
    height: auto;
    img {
        width: 100%;
        height: auto;
    }
}

div.running-text {
    margin-top: $mrg;
    // max-width: 56ch;
    p {
        margin-bottom: $mrg;
        margin-top: 0;
    }
}

.aside-text {
    color: $grey;
    font-size: 1.4rem;
    a {
        color: $grey;
    }
}

/* SVG */
svg {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    .st0{
        fill:$blue;
    }
    .st1{
        fill:$red;
    }
    .st2{
        fill:$green;
    }
}

/* Section layout */
section {
    // background-color: rgba($blue,0.1);
    min-height: 100vh;
    display: flex;
    aside {
        // background-color: rgba($red,0.1);
        align-self: flex-end;
        position: -webkit-sticky;
        position: sticky;
        bottom: $mrg;
        width: 40%;
        margin-right: $mrg/2;
    }
    main {
        // background-color: rgba($green,0.1);
        padding-top: $mrg/1.2;
        width: 60%;
        align-self: flex-start;
        min-height: 100%;
        margin-left: $mrg/2;
        h1 {
            margin-bottom: $mrg;
        }
    }
}

/* Main nav */
nav.main-nav {
    width: calc(40% - 2rem); // width calculation is hacky
    font-size: 2.8rem;
    line-height: 1.4;
    font-weight: 400;
    z-index: 99;
    position: fixed;
    left: $mrg*1.5;
    top: 0;
    padding-top: $mrg/1.2;
    padding-bottom: $mrg*1.5;
    // background-color: $bg;
    // background: linear-gradient(180deg, rgba($bg,1) 0%, rgba($bg,1) 85%, rgba($bg,0) 100%);
    ul {
        display: inline;
        padding: 0;
        li {
            list-style-type: none;
            a.active {
                color: $red;
                border-bottom: 2px solid $red;
                @media screen and (max-width: $m) {
                    border-width: 1.5px;
                }
                @media screen and (max-width: $s) {
                    border-width: 1px;
                }
            }
        }
    }
}

/* Main nav portrait */
@media (orientation:portrait) {
    nav.main-nav {
        line-height: 1.5;
        background-color: none;
        background: none;
        ul {
            li {
                display: inline;
                a {
                    white-space: nowrap;
                    background-color: $white;
                    padding: 0 $mrg/2;
                    border-radius: $mrg;
                    text-decoration: none;
                }
                a:active {
                    background-color: $lightgrey;
                    color: $main;
                }
            }
        }
    }
}

/* General media queries */
@media screen and (max-width: $m) {
    section {
        aside {
            width: 33.3%;
        }
        main {
            width: 66.6%;
        }
    }
}

/* Aside illustration aligns to bottom of screen */
@media screen and (max-width: $s) {
    section {
        position: relative;
        aside {
            display: flex;
            align-items: flex-end;
            height: calc(100vh - #{$mrg*3});
            padding-top: $mrg*1.5;
        }
        main {
            // position: absolute;
            // top: 0;
        }
    }
}

@media screen and (orientation:landscape) and (max-width: $s) {
    section {
        flex-direction: column;
        aside {
            display: flex;
            justify-content: space-between;
            width: 66%;
            
        }
        main {
            width: 100%;
            margin: 0;
        }
    }
}

@media screen and (orientation:portrait) and (max-width: $xs) {
    section {
        display: initial;
        aside, main {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
        main {
            h1 {
                margin-bottom: 0;
            }
        }
        aside {
            svg {
                // width: 75%;
                // margin: 0 auto;
            }
        }
    }
    nav.main-nav {
        max-width: 100%;
    }
}

/* Column layout */
.columns {
    > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-top: 1px solid $main;
        padding-top: $mrg/1.6;
        > *:nth-child(1) {
            width: 33%;
            padding-right: $mrg/2;
        }
        > *:nth-child(2) {
            width: 66%;
            padding-left: $mrg/2;
        }
        > *:nth-child(n+3) {
            display: none;
        }
    }
}

/* Specific layouts per section */

/* Over */
section#over {
    aside {

    }
    main {
        h1 {
            min-height: 33.33vh;
        }
    }
}

/* Studios */
section#studios {
    main h1 {
        min-height: 33.3vh;
    }
    .studios-nav {
        display: none;
        h2 {
           font-size: 4.2rem;
        }
        .active {
            color: $red;
        }
    }
    .studios-list {
        .studio {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-areas:
                "header header"
                "aside main"
                "aside2 main";
            grid-column-gap: $mrg;
            border-top: 1px solid $main;
            padding-top: $mrg;
            h2 {
                // font-weight: 500;
                // text-decoration: underline;
                grid-area: aside;
                // font-size: 3rem;
                // margin-bottom: $mrg/2;
            }
            .studio-image {
                // display: none;
                grid-area: header;
                width: 100%;
                height: 0;
                padding-bottom: 50%;
                overflow: hidden;
                position: relative;
                background-color: rgba(black,0.1);
                margin-bottom: $mrg;
                img {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .studio-content {
                grid-area: main;
                margin-top: 0;
                padding-bottom: $mrg;
            }
            .studio-extra {
                grid-area: aside2;
                padding-bottom: $mrg;
                margin-bottom: $mrg;
                align-self: end;
            }
        }
    }
}

/* Actoren */
#actoren {
    main {
        h1 {
            min-height: 33.33vh;
        }
    }
}
.actoren-list {
    .actor {
        border-top: 1px solid $main;
        .actor-image {
            img {
                // display: none;
                width: 20px;
                height: 20px;
                background-color: $grey;
            }
        }
        .actor-info h2 {
            line-height: 150%;
            cursor: pointer;
            &:after {
                color: $lightgrey;
                content:" ○";
                float: right;
            }
            &:hover:after {
                // color: $main;
                content:" ●";
            }
        }
        .actor-info > div {
            // display: none;
        }
    }
    .actor:not(.selected) {
        .actor-image {
            display: none;
        }
        .actor-info > div {
            display: none;
        }
    }
    .actor.selected {
        .actor-info h2 {
            &:after {
                content:" −";
            }
        }
    }
}

/* Materiaal */
section#materiaal {
    .download-link {
        display: inline-block;
        background-color: $white;
        border-radius: .5ch;
        padding: $mrg/1.5;
        &:after {
            content:"";
            color: $lightgrey;
            margin-left: 1ch;
        }
        &:hover:after {
            color: inherit;
        }
    }
}

/* Contact */
section#contact {
    // min-height: 50vh;
    main {
        // align-self: flex-start;
        display: flex;
        flex-direction: column;
        
    }
}

/* Colophon */
.colophon {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .running-text {
        width: 60%;
    }
    .logos-container {
        .logo {
            display: inline-block;
            height: $mrg*2.5;
            img{
                mix-blend-mode: multiply;
                height: 100%;
                width: auto;
            }
        }
    }
}